<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Show Trip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <h1>{{ trip.destination }}</h1>
  <h2>Planned By: {{ trip.planner.name}}</h2>
  <h2>Description: {{ trip.description}}</h2>
  <h2>Travel Date From: {{ trip.travel_start}}</h2>
  <h2>Travel Date To: {{ trip.travel_end}}</h2>

  <h1>Other user's joining the trip</h1>
  {% for i in trip.joiners.all %}
    <p>{{ i.name }}</p>
  {% endfor %}
  
</body>
</html>
