<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Success Page</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
    
        </style>
    </head>
    <body>
        <h1>Welcome {{request.session.name}}</h1>
        <a href="/logout"><button>Logout</button></a>
        <h2>Add a Quote</h2>
        <form class="" action="/processquote" method="post">
            {% csrf_token %}
            <input type = "hidden" name = "action" value = "addquote">
            <input type = "text" name = "quotename" placeholder = "Quote Name"><br><br>
            <input type = "submit" name = "" value = "Add a Quote"><br><br>
        </form>

        {% if messages %}
            {% for message in messages %}
                <p >{{ message }}</p>
            {% endfor %}
        {% endif %}

        
        <h3>All Quotes</h3>
        <table>
            <tr> 
              <th>Quote</th>
              <th>Created By</th>
              <th>Total Likes</th>
              <th>Like</th>
              <th>All People Who liked</th>
            </tr>
            {% for i in quote %}
            <tr>
                <td>{{ i.quotename }}</td>
                <td><a href="/show/{{i.poster.id}}">{{ i.uploaded_by.name }}</a></td> <!-- {{ i.uploaded_by.alias }}</td> -->
                <td><a href="">{{i.likers.count}} people</a>like this</td>
                <td><a href="/likedquote/{{ i.id }}">Like</a></td>
                <td>{% for x in i.likers.all %}
                    {{x.name}},
                {% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
        
        <h3>People who liked this post:</h3>
        <table>
            <tr>
                <th>Alias</th>
                <th>Name</th>
            </tr>
            {% for i in creator %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.likedquote.count}}</td>
                <td>{{i.uploadedquote.count}}</td>
                <td>{{i.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>