<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Wish</title>
  </head>
  <body>
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>
    <h1>Create a New Wish List Item</h1>
    <form class="" action="/createitem" method="post">
      {%csrf_token%}
      <input type="text" name="item" placeholder="Item/Product:">
      <br>
      <input type="submit" name="" value="Add">
    </form>
    {% if messages %}
        {% for message in messages %}
            <p >{{ message }}</p>
        {% endfor %}
    {% endif %}    
  </body>
</html>
