<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>User Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>
<div class="container">
	<a href="/logout">Logout</a></h4>
	<hr>
	<h3>Welcome: {{user.first_name}} {{user.last_name}}</h3>
	{% if user_poke_count.count == 0 %}
		<h3>No one has poked you yet</h3>
	{%else %}
		<h3> You have been poked: {{user_poke_count.count}} time(s) </h3>
		<h4>List of people who have poked you</h4>
		{% for list_of_user in list_of_users %}
			{{list_of_user.poker.first_name}}
		<br>
		{%endfor%}
	{%endif%}
	
	<hr>
	<table class="table class table-bordered table-striped table-hovered">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Address</th>
				<th>Poke History</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>{{user.email}}</td>
				
		{% for poke in pokes %}
			{% if poke.poked_id == user.id %}
				<td>{{user.pokedpokes.count}}</td>
			{%endif%}
		{%endfor%}
				<td><a href="/pokes/{{user.id}}/"><button class="btn btn-success">Poke</button></a></td>
			</tr>

		{%endfor%}
		</tbody>
	</table>
</div>
</body>
</html>