{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'pokes/style.css' %}" />

<h1> {{ user.username }} </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'pokes:create_poke' user.id %}" method="post">
  {% csrf_token %}
  <label for="receiver">Who would you like to poke? </label><br />
  <select name="receiver" id="receiver">
    <option value="">--</option>
    {% for receiver in user_list %}
      <option value="{{ receiver.id }}">{{ receiver.username }}</option>  
    {% endfor %}
  </select> 
  <input type="submit" value="Poke!" />
</form>

{% if poke_list %}
  <ul>
  {% for poke in poke_list %}
    <li><a href="{% url 'pokes:detail' poke.send_user.id%}">{{ poke.send_user.username }}</a> poked <a href="{% url 'pokes:detail' poke.receive_user.id%}">{{ poke.receive_user.username }}</a> at {{ poke.poke_date }}</li>
  {% endfor %}
  </ul>
{% else %}
    <p>No pokes for user.</p>
{% endif %}