<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Index</title>
      {% load static %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'ourApp/css/main.css' %}">
      <!-- Put the static files in the static folder inside your app.  
           Django collects files within all static folders and puts them within a single folder -->    
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>{{email}} and {{name}}</p>
        <form action="/create" method="post">
            {% csrf_token %}
            <label for="name">Blog Name:</label>
            <input type="text" id="name" name="name" placeholder="blog name">
            <label for="desc">Description:</label>        
            <textarea id="desc" name="desc" placeholder="description"></textarea>
            <button type="submit">Submit</button>
            <p>{{request.session.name}}</p>
            <p>{{request.session.counter}}</p>

        </form>
    </body>
  </html>
