<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Success Page</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
    
        </style>
    </head>
    <body>
        <h1>Welcome {{request.session.name}}</h1>
        <a href="/logout"><button>Logout</button></a>
        <h2>Add a Product</h2>
        <form class="" action="/processproduct" method="post">
            {% csrf_token %}
            <input type = "hidden" name = "action" value = "addproduct">
            <input type = "text" name = "productname" placeholder = "Product Name"><br><br>
            <input type = "submit" name = "" value = "Add a Product"><br><br>
        </form>

        {% if messages %}
            {% for message in messages %}
                <p >{{ message }}</p>
            {% endfor %}
        {% endif %}

        
        <h3>All Products</h3>
        <table>
            <tr> 
              <th>Product</th>
              <th>Created By</th>
              <th>Total Likes</th>
              <th>Like</th>
              <th>All People Who liked</th>
            </tr>
            {% for i in product %}
            <tr>
                <td>{{ i.productname }}</td>
                <td>{{ i.uploaded_by.name }} <!-- {{ i.uploaded_by.alias }}</td> -->
                <td>{{i.likers.count}}</td>
                <td><a href="/likedproduct/{{ i.id }}">Like a Product</a></td>
                <td>{% for x in i.likers.all %}
                    {{x.name}},
                {% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
        
        <h3>All Creators</h3>
        <table>
            <tr>
                <th>List Of All Creators</th>
                <th>Total Likes Given</th>
                <th>Count Number Of Products</th>
                <th>Email</th>
            </tr>
            {% for i in creator %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.likedproduct.count}}</td>
                <td>{{i.uploadedproduct.count}}</td>
                <td>{{i.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>