<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Great Number Game</title>
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <h2>I am thinking of a number between 1 and 100</h2>
        <h2>Take a guess!</h2>
        <br>
        <div id="form">
            <form class="" action="/process" method="post">
                <input type="text" name="number" value=""><br>
                <input id="submit_button" type="submit" name="" value="Submit">
            </form><br>

        </div>
        <!-- <p>you guessed {{session['guessed_num']}}</p> -->
        {% if 'color' in session %}
            <div class="guess {{session.color}}">
                <h3>{{session.message}}</h3>
                {% if session.color == "green" %}
                    <a href="/reset"><button>Play again!</button></a>
                {% endif %}
            </div>
        {% endif %}
        <p>(pssst... the number is {{session.num}})</p>
    </body>
</html>
