<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
		<title>Pokes</title>
	</head>
	<body>
    <a href="/logout">Logout</a>
    <H2>Welcome: {{session['alias']}}</H2>
    <p>{{x_pokes}} people poked you</p>
    <div id="yourpokes">
    	<p>(name) poked you (X) times</p>
    </div>
    <table>
    	<thead>
    		<tr>
    			<th>name</th>
    			<th>alias</th>
    			<th>email</th>
    			<th>pokes</th>
    			<th>poke </th>
    		</tr>
    	</thead>
    	<tbody>
            {% for x in users%}
                 
    		<tr>
            
    			<td>{{x['name']}}</td>
    			<td>{{x['alias']}}</td>
    			<td>{{x['email']}}</td>
                <td>{{x['count(poke)']}}</td>
    			<td><form action="/pokes/make" method="POST">
                        <input type="hidden" name="poked" value="{{x['id']}}">
                        <input type="hidden" name="poker" value="{{session['id']}}">
                        <input type="submit" value="Poke">
                    </form></td>
                    
    		</tr>
                
            {%endfor%}
    	</tbody>
    </table>

	</body>