<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>hello {{request.session.first_name}}</h1>
    <br>
    <a href="/travels/add"></a>
    <a href="/logout">logout</a>

    <br>
    <h3>Your Wish List:</h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>
        {% for i in mywishes %}
        <tr>
            <td><a href="/show/{{i.id}}">{{ i.item }}</a></td>
            <td>{{ i.wisher.name }}</td>
            <td>{{ i.created_at }}</td>
            {% if i.wisher_id == request.session.id %}
                <td><a href="/delete/{{ i.id }}">delete</a></td>
            {% else %}
                <td><a href="/remove/{{ i.id }}">Remove from my Wishlist</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Other User's Travel Plans</h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>
        {% for i in otherwishes %}
        <tr>
            <td><a href="/show/{{i.id}}">{{ i.item }}</a></td>
            <td>{{ i.wisher.name }}</td>
            <td>{{ i.updated_at}}</td>
            <td><a href="/join/{{ i.id }}">Add to my Wishlist</a></td>
        </tr>
        {% endfor %}
    </table>
    <p>{{ otheritems }}</p>
    <a href="/add">Add Item</a>
</body>
</html>
