<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index Page</title>
        <style>
            div {
                display: inline-block;
                vertical-align: top;
                border: 1px solid black;
                width: 250px;
                height: 250px;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Login and Registration</h1>

        <div>
            <h2>Register</h2>
            <form class="" action="/register" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Full Name"><br>
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="password" name="confirm_pw" placeholder="Confirm Password"><br>
                <input type="date" name="date_hired"><br>
                <input type="submit" name="" value="Register">
            </form>
    
        </div>

        <div>
            <h2>Login</h2>
            <form class="" action="/login" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" name="" value="Login">
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
                <p >{{ message }}</p>
            {% endfor %}
        {% endif %}    
    </body>
</html>
